<template name="Footer">
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
        <hr class="col-md-10 col-sm-12 col-xs-12 vaguelettes" />
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
        <div class="col-md-10 col-sm-12 col-xs-12 info-conception">
            <p>Ce site et cette entreprise fonctionnent, entre autres, grâce à :
               <!-- <div class="partenaires" style="text-align:left;padding:10px 0 0 76px; margin:-2px 0 0 250px;">
                    <a href="http://coffeescript.org/"><img src="images/partenaires/coffeescript.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://getbootstrap.com/"><img src="images/partenaires/bootstrap.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://backbonejs.org/"><img src="images/partenaires/backbone.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://brunch.io/"><img src="images/partenaires/brunch.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://jquery.com/"><img src="images/partenaires/jquery-black.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://nodejs.org/"><img src="images/partenaires/nodejs.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="https://www.npmjs.org/"><img src="images/partenaires/npm.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://jade-lang.com/"><img src="images/partenaires/jade.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://learnboost.github.io/stylus/"><img src="images/partenaires/stylus.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="http://expressjs.com/"><img src="images/partenaires/express.png" /></a>
                    &nbsp;&nbsp;&&&nbsp;&nbsp;
                    <a href="https://www.meteor.com/"><img src="images/partenaires/meteor.png" /></a>
                </div>-->
            </p>
            <div class="brand-canvas-container">
                <canvas id="all-brands" width="900" height="100" style="opacity:0.75;border:dashed 1px #000">
                    Your Browser does not support the canvas tag
               </canvas>
            </div>
            <p>Merci à tous ces contributeurs passionnés, pour un web meilleur et renouvelé !</p>
            <p class="pull-right">
                Graphiste :&nbsp;
                <a href="http://3secondesplustard.net/">Brenda Galliussi</a>
                &nbsp;&nbsp;&nbsp; Partenaires et services : <img src="images/partenaires/heroku.png" /> && <img src="images/partenaires/github.png" /> &&  <img src="images/partenaires/gandi.png" /> && <img src="images/partenaires/cloud9.png" />
            </p>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
    </div>
</template>
