<template name="Footer">
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
        <hr class="col-md-10 col-sm-12 col-xs-12 vaguelettes" />
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
        <div class="col-md-10 col-sm-12 col-xs-12 info-conception">
            <p>Ce site et cette entreprise fonctionnent, entre autres, grâce à :
            </p>
            <div class="brand-canvas-container">
                <canvas id="all-brands" width="900" height="100" style="opacity:0.75;border:dashed 1px #000">
                    Your Browser does not support the canvas tag
               </canvas>
            </div>
            <p>Merci à tous ces contributeurs passionnés, pour un web meilleur et renouvelé !</p>
            <p class="pull-right">
                Graphiste :&nbsp;
                <a href="http://3secondesplustard.net/">Brenda Galliussi</a>
                &nbsp;&nbsp;&nbsp; Partenaires et services : <img src="images/partenaires/heroku.png" /> && <img src="images/partenaires/github.png" /> &&  <img src="images/partenaires/gandi.png" /> && <img src="images/partenaires/cloud9.png" />
            </p>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
    </div>
</template>
