<template name="Parcours">
    <div class="row" id="cv-skills">

        <div class="col-xs-12 simple-insert-with-clipper purple-border">
            <div class="purple-clipper clipper"></div>
            <div class="purple-clipper-content clipper-content">Profil et compétences</div>
            <div class="simple-insert-content">
                <div class="col-md-8 col-sm-7 col-xs-6">
                    <strong> Monsieur Loïc TRUCHOT</strong><br />
                    Nationalité Française<br />
                    29 ans<br />
                    Célibataire<br />
                    Rennes (France)<br />
                    E-mail : <a href="mailto:loic.truchot35@gmail.com">loic.truchot35@gmail.com</a><br />
                    Tél : o6 7o 6oo 5oo
                </div>
                <div class="col-md-4  col-sm-5 col-xs-6" id="photo-cv-container"><img src="/images/cv-loic-truchot-2.jpg" alt="Loic Truchot" /></div>
                <div class="col-xs-12">
                    <h2 class="simple-insert-title-big">Lead Developer JavaScript</h2>
                    <h3 class="simple-insert-title-medium">Compétences informatiques</h3>
                    <h4 class="simple-insert-title-small">Langages et logiciels</h4>
                    <div class="table-responsive">
                        <table class="skill-table table table-striped">
                            <tr>
                                <th>Niveau<span class="hidden-xs">x acquis</span></th>
                                <th>Spécialités</th>
                            </tr>
                            <tr>
                                <td>Expert<span class="hidden-xs"> langages Web</span></td>
                                <td><strong>HTML5*, CSS3*</strong>, Jade, Sass, Less, Stylus, XHTML, XML, XSLT</td>
                            </tr>
                            <tr>
                                <td>Expert<span class="hidden-xs"> interactivité</span></td>
                                <td><strong>JavaScript, Dojo 1.10*</strong>, lodash 3*, <strong>JQuery 2*</strong> &amp; Plugins, <strong>CoffeeScript</strong>, TypeScript, Ajax, ASP.NET</td>
                            </tr>
                            <tr>
                                <td>Expert<span class="hidden-xs"> serveur et BDD</span></td>
                                <td><strong>Node.js 0.12* (et Express 4*)</strong> NPM, <strong>Meteor + Atmosphere</strong>, PHP5*/MySQL, VB.NET/Microsoft Server</td>
                            </tr>
                            <tr>
                                <td>Pro<span class="hidden-xs">fessionnel IDE</span></td>
                                <td>Visual Studio, <strong>Cloud9 IDE</strong>, Eclipse, <strong>Sublime Text, WebStorm</strong></td>
                            </tr>
                            <tr>
                                <td>Pro<span class="hidden-xs">fessionnel bureautique</span></td>
                                <td>Windows 8*, <strong>Ubuntu 14.04*</strong>, Microsoft Office 2010*, <strong>Apache Open Office 3*</strong>, Libre Office 4*, Google Docs</td>
                            </tr>
                            <tr>
                                <td>Inter<span class="hidden-xs">médiaire CMS</span></td>
                                <td>Prestashop,  SPIP, Joomla!, <strong>Wordpress</strong>, PhpBB</td>
                            </tr>
                            <tr>
                                <td>Inter<span class="hidden-xs">médiaire graphisme</span></td>
                                <td><strong>Adobe CS6*</strong>, GIMP 2</td>
                            </tr>
                            <tr>
                                <td><span class="hidden-xs">En Auto-</span>Formation</td>
                                <td>Ruby on Rails, Python, Perl, SVG, <strong>D3.js, MongoDB</strong></td>
                            </tr>
                        </table>
                    </div>
                    <h4 class="simple-insert-title-small">Environnement Web</h4>
                    <div class="table-responsive">
                        <table class="skill-table table table-striped">
                            <tr>
                                <td>Expert<span class="hidden-xs"> IHM</span></td>
                                <td>Accessiblité, <strong>Responsive Design, Twitter Bootstrap 3</strong>, ergonomie web...</td></tr>
                            <tr>
                                <td>Pro<span class="hidden-xs">fessionnel Env.</span></td>
                                <td>Noms de domaines, choix d'hébergement, redirections, mails...</td>
                            </tr>
                            <tr>
                                <td>Pro<span class="hidden-xs">fessionnel Suivi</span></td>
                                <td>Référencement <strong>SEO</strong>, analyse statistique et maintenance des sites</td>
                            </tr>
                        </table>
                    </div>
                    <h4 class="simple-insert-title-small">Méthodes de développement</h4>
                    <div class="table-responsive">
                        <table class="skill-table table table-striped">
                            <tr>
                                <td>Expert<span class="hidden-xs"> Well-Formed</span></td>
                                <td>Bonnes pratiques, commentaires, maintenabilité et réutilisabilité du code</td>
                            </tr>
                            <tr>
                                <td>Expert<span class="hidden-xs"> Versions</span></td>
                                <td>Git, Subversion, <strong>Github</strong></td>
                            </tr>
                            <tr>
                                <td> Inter<span class="hidden-xs">médiaire Cycles</span></td>
                                <td><strong>Test Driven Development</strong>, Behavior Driven Development</td></tr>
                            <tr>
                                <td> <span class="hidden-xs">En Auto-</span>Formation</td>
                                <td>Méthodes agiles, Devops</td>
                            </tr>
                        </table>
                    </div>
                    <em class="pull-right"> * et versions antérieures</em>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="cv-geolocalized">
        <div class="col-xs-12 simple-insert-with-clipper red-border">
            <div class="red-clipper clipper"></div>
            <div class="red-clipper-content clipper-content">Parcours géolocalisé</div>
            <div class="simple-insert-content" id="geolocalized-cv">
                <div class="col-xs-12">
                    <h3 class="simple-insert-title-medium">Expériences professionelles</h3>
                    <div class="exp-item">
                        <span class="exp-date">Depuis mai 2014</span>
                        <span class="exp-company">CDI Lead Developer JavaScript front/back - <a href="http://rennes.groupe-sii.com/fr">SII (Ouest)</a></span>
                        <p> Développement JavaScript, encadrement technique et qualité (client et serveur)</p>
                        <p><em>Projets en cours: Portails web pour la vidéo d'Orange (Live, VOD, Replays, etc.)</em></p>
                    </div>

                    <div class="exp-item">
                        <span class="exp-date">De mai 2013 à mai 2014</span>
                        <span class="exp-company">Auto-Entreprise (Noesis and Neighbors [NaN] – SIRET : 518 046 313 00038)</span>
                        <p>Architecture et développement JavaScript (client et serveur) en freelance pour les entreprises (Rennes 35).</p>
                        <p><em>Derniers projets: application de gestion de budget multi-comptes, application de forage et classement de données (CozyCloud - Paris), extensions de navigateur (convertisseur de mesures, persistance des sélections, amélioration d'interfaces par injection de widgets...) pour Revizer Ltd. (Tel Aviv – Israel).</em></p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="exp-item">
                        <span class="exp-date">De juin 2011 à mai 2013</span>
                        <span class="exp-company">CDI Développeur Web (après 3 mois en interim avec Expectra) – <a href="http://www.6tm.com/">6TM GROUP</a></span>
                        <p>
                            Développement de sites web PHP/VB.NET/JavaScript et modules pour moyennes et grandes organisations.
                            <em>Par exemple: Aéroport de Brest, CCI de Rennes, Garf, Bretagne Innovation, CISME, Transtechnology, MX... (Vern-sur-Seiche 35)</em>
                        </p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De novembre 2009 à mai 2011</span>
                        <span class="exp-company">Auto-Entreprise (Noesis - SIRET : 518 046 313 00012)</span>
                        <p>Sous-traitement de projets web, assistance informatique et internet (Vannes 56, Rennes 35)</p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De janvier 2009 à septembre 2010</span>
                        <span class="exp-company">Expériences pro. au sein de l'Université Bretagne Sud</span>
                        <p>
                            CDD 6 mois Maintenance bases de données APOGEE, puis Stagiaire Pro. 3 mois: Evaluation du système d’information de l’université et conseil (Lorient 56, Vannes 56)
                        </p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De mars 2008 à juin 2008</span>
                        <span class="exp-company">Stagiaire Pro. Communication - Entreprise de visioconférence et TIC pour les professionnels</span>
                        <p>Neolinks (Ludres - 54)</p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De décembre 2005 de juin 2007</span>
                        <span class="exp-company">Expériences pro. dans les métiers du livre papier et numérique</span>
                        <p>Stagiaire pro. 1 mois aux Editions Hermaphrodite (Laneuville 54), CDD puis CDI 10 mois temps partiel Caissier Vendeur Presse au Hall du Livre (Nancy 54)</p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De 2002 à 2007</span>
                        <span class="exp-company">Animateur enfants/ados et public déficient mental de catégorie A/B</span>
                        <p>CDD Animateur diplômé à la MJC Desforges (Nancy 54), au FJEP (Maxéville 54), à l'OPCV., à Cocktail Evasion (Itinérant en Espagne), à A.S.L.V. (88) durant les vacances d'été</p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">D'avril 2004 à juin 2004</span>
                        <span class="exp-company">Contrats d'extras Employé polyvalent à l'hôtel Mercure*** (Nancy 54)</span>

                    </div>
                </div>
                <div class="col-sm-5">
                    <div id="geolocation-work-map"></div>

                </div>
                <div class="col-xs-12">
                    <h3 class="simple-insert-title-medium">Etudes et formations</h3>
                </div>
                <div class="col-sm-5">
                    <div id="geolocation-studies-map"></div>
                </div>
                <div class="col-sm-7">
                    <div class="exp-item">
                        <span class="exp-date">De 2008 à 2010</span>
                        <span class="exp-company">Université Bretagne-sud (Lorient 56, Vannes 56)</span>
                        <p>
                            Master professionnel, Documentation et Techniques de l'Information/Communication (Obtenu)<br />
                            <span class="grey-skills">Informatique, web, ergonomie et ingénierie cognitive, veille stratégique</span>
                        </p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De 2007 à 2008</span>
                        <span class="exp-company">Université Nancy II</span>
                        <p>
                            Licence professionnelle, Techniques de l'Information/Communication (Obtenue)<br />
                            <span class="grey-skills">Communication, PAO, développement web, systèmes d'information</span>
                        </p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De 2005 à 2007</span>
                        <span class="exp-company">Université Nancy II</span>
                        <p>
                            DUT, Information/Communication (Obtenu)<br />
                            <span class="grey-skills">Communication, nouvelles technologies, marketing, métiers du livre</span>
                        </p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date">De 2003 à 2004</span>
                        <span class="exp-company">Université Nancy II</span>
                        <p>
                            L1 de Philosophie (Ajourné)<br />
                            <span class="grey-skills">Grands auteurs en philosophie morale et politique, logique antique et moderne, méthodologie</span>
                        </p>
                    </div>
                    <div class="exp-item">
                        <span class="exp-date"></span>
                        <span class="exp-company"></span>
                        <p>
                            <br />
                            <span class="grey-skills"></span>
                        </p>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-2 hidden-xs"></div>
    </div>
    <div class="row" id="cv-soul">
        <div class="col-xs-12 simple-insert-with-clipper green-border">
            <div class="green-clipper clipper"></div>
            <div class="green-clipper-content clipper-content">Supplément d'âme</div>
            <div class="simple-insert-content">
            </div>
        </div>
        <div class="col-xs-2 hidden-xs"></div>
    </div>
</template>