<template name="HomeIndex">
    <div class="home-content row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Curriculum Vitae</h3>
                    <p>
                        &nbsp;&nbsp;Ma voie a oscillé entre  agences web et envie d'entreprendre en Freelance. En accédant au poste de <strong>Lead Developer</strong> Front End, j'ai trouvé le meilleur compromis.<br />
                        &nbsp;&nbsp;Depuis 2014, je suis chez <a href="http://rennes.groupe-sii.com/fr">SII Ouest</a> avec qui je peux satisfaire une clientèle de prestige, parfaire et transmettre mes compétences.<br /><br />
                        &nbsp;&nbsp;Le coeur de ces travaux? <strong>JavaScript</strong>... dont je suis devenu spécialiste.
                    </p>
                    <a class="voir" href="{{pathFor 'parcours'}}">→ connaître ( ) ;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Dernière réalisation</h3>
                    <p>
                        &nbsp;&nbsp;Le <strong>Relevé Malin</strong> est une application de gestion de budget multi-comptes. Je l'ai développée dans le cadre du projet <a href="http://mesinfos.fing.org/">MesInfos</a>.<br />
                        <img src="/images/portefolio/releve_malin-cut.png" />
                    </p>
                    <a class="voir" href="{{pathFor 'realisations'}}">→ découvrir ( ) ;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Articles récents
                    </h3>
                    <p>
                        &nbsp;&nbsp;Rejoignez moi, pour <strong>explorer les nouveautées et les fondamentaux du JavaScript</strong>
                        <ul>
                            <li>Déployer une application <a href="#">Meteor sur gandi "simple hosting"</a></li>
                            <li>JavaScript is sexy ? <a href="#">Go pécho...</a></li>
                        </ul>
                    </p>
                    <a class="voir" href="{{pathFor 'articles'}}">→ comprendre ( ) ;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Actus de l'entreprise...</h3>
                    <p>Avril 2014 : <a href="#">Meetups bretons</a> en cascades autour de la Cantine Numérique de Rennes.</p>
                    <p>Mai 2014 : le <a href="#">BreizhCamp 2014</a></p>
                    <h3 class="force-text-right">...et du framework</h3>
                    <p>L'API <a href="http://openstreetmap.fr/">Open Street Map</a> et la bibliothèque <a href="http://leafletjs.com/">Leaflet</a> font leur entrée dans le framework NaNjs !</p>
                    <a class="voir" href="{{pathFor 'nan'}}">→ développer ( ) ;</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</template>