<template name="HomeIndex">
    <div class="home-content row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Curriculum Vitae</h3>
                    <p>
                        &nbsp;&nbsp;Agences web, SSII, Freelance, envie d'entreprendre: ma voie oscille depuis que je suis formé. En accédant au poste de <strong>Lead Developer</strong> Front End, j'ai trouvé le meilleur compromis.<br />
                        &nbsp;&nbsp;Depuis 2014, je suis chez <a href="http://rennes.groupe-sii.com/fr">SII Ouest</a> avec qui je peux satisfaire une clientèle de prestige, parfaire et transmettre mes compétences.<br /><br />
                        &nbsp;&nbsp;Le coeur de ces travaux? <strong>JavaScript</strong>... dont je suis devenu spécialiste.
                    </p>
                    <a class="voir" href="{{pathFor 'parcours'}}">→ connaître ( ) ;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Dernière réalisation</h3>
                    <p>
                        &nbsp;&nbsp;Le <strong>Relevé Malin</strong> est une application de gestion de budget multi-comptes. Je l'ai développée dans le cadre du projet <a href="http://mesinfos.fing.org/">MesInfos</a>.<br />
                        <img src="/images/portefolio/releve_malin-cut.png" />
                    </p>
                    <a class="voir" href="{{pathFor 'realisations'}}">→ découvrir ( ) ;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Articles récents
                    </h3>
                    <p>
                        &nbsp;&nbsp;Rejoignez moi, pour <strong>explorer les nouveautées et les fondamentaux du JavaScript</strong>
                        <ul class="stand-list">
                            <li><a href="#">Les closures en JavaScript :</a> une présentation complète.</li>
                            <li>Déployer une application <a href="#">Meteor sur gandi "simple hosting"</a></li>
                            <li>JavaScript is sexy ? <a href="#">Go pécho...</a></li>
                        </ul>
                    </p>
                    <a class="voir" href="{{pathFor 'articles'}}">→ comprendre ( ) ;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="stand">
                <div class="stand-content">
                    <h3>Actus personnelles...</h3>
                    <p>
                        <strong>Février 2015 :</strong> <a href="#">Rennes JS</a>, un des meetup bretons les plus conviviaux.</p>
                    <p>
                    <strong>Mars 2015 :</strong> préparation d'un sujet pour le <a href="#">BreizhCamp 2015</a> sur <a href="https://theintern.github.io/">Intern.js</a></p>
                    <h3 class="force-text-right">...et du framework</h3>
                    <p>Angular, Loopback, Gulp, Intern, Phantom, des candidats très sérieux pour la stack parfaite.</p>
                    <a class="voir" href="{{pathFor 'nan'}}">→ développer ( ) ;</a>
                </div>
            </div>
        </div>    
    </div>
</template>