//compass
@import "compass/css3/user-interface";

//variables
$noesisGreen: #7ec4a1;
$noesisRed: #ef7a7e;
$noesisBraun: #241313;
$noesisPurple: #6459a2;
$noesisDarkblue: #3b4759;
$noesisNude: #fcf7e3;
$noesisBlack: #000;
